p {
    color: black;
    margin: 0px 10px;
}

h3 {
    color: green;
}

a[href] {
    color: purple;
}

img {
    height: 350px;
    width: 350px;
}

h5 {
    color: darkcyan;
    padding: 10px;
}

.title {
    box-shadow: 10px 10px 10px #fff;
}

#example {
    box-shadow: 10px 10px 10px #fff;
}

table {
    padding: 16px;
}

tr {
    background-color: antiquewhite;
}

body {
    background-color: azure;
}

.nav-bar {
    background-color: bisque;
    height: 70;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    box-shadow: 5px 5px 3px #00000026;
    justify-content: flex-end;
}

.root {
    display: flex;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.large-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.small-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.red {
    display: flex;

    background-color: red;
}
.blue {
    display: flex;

    background-color: blue;
}
.yellow {
    display: flex;
    background-color: yellow;
}

.green {
    display: flex;

    background-color: green;
}

.purple {
    display: flex;
    background-color: purple;
}

.me-img {
    float: left;
    height: 100px;
    width: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    
}



